@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* Colors */

$primary-color: #f2e9df;
$shadow-color: #d6cec4;
$btn-color: rgb(244, 211, 165);
$btn-hover-color: rgb(197, 161, 110);
$primary-font: "Poppins", sans-serif;
$header-footer: #EDB480;
