@use "variables" as v;
@use "mixins" as mx;

@font-face {
  font-family: "funky";
  src: url(/src/fonts/super-funky-font/SuperFunky-lgmWw.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$primary-font;

  a {
    text-decoration: none;

    &:visited {
      color: black;
    }

    &:hover {
      color: #f77c2c;
    }
  }
}

body {
  @include mx.flex(column, center, center, 100%);

  #header-container {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: v.$header-footer; */
    @include mx.flex(row, space-between, center, 100vw);
    height: 7vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

    h1 {
      font-size: 22px;
      font-family: "funky";
    }

    #categories {
      margin-left: 3%;
      font-size: 1.5rem;
      color: black;

      .choices {
        position: relative;
        color: black;
        transition: text-decoration 0.3s ease-in-out;
        margin: 10px;
        &:hover {
          text-decoration: underline;
          color: #f77c2c;
        }
      }
    }
    #cartElement {
      margin-right: 3%;
      #cartAmount {
        font-weight: 800;
      }
      #cartIconHolder {
        #cartIcon {
          width: 2rem;
        }
      }
    }
  }

  main {
    width: 100%;
    min-height: 86vh;
    #hero-image {
      height: 100vh;
      background-image: url(../img/bgpic.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      #hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f77c2c;
        font-size: 20px;

        h3 {
          &:hover {
            color: #f77c2c;
          }
        }
      }
    }
  }

  footer {
    height: 7vh;
    position: relative;
    bottom: 0;
    padding-right: 40px;
    /* background-color: v.$header-footer; */
    @include mx.flex(row, flex-end, center, 100%);

    #socials {
      padding-right: -20px;
      .fa {
        font-size: 28px;
        color: black;
        padding: 10px;

        &:hover {
          color: #f77c2c;
        }
      }
    }
  }
  .footerAbs {
    position: absolute;
    bottom: 0;
  }
}
